#sider {
    background-image: 
    url('../../static/road.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    margin-bottom: 2%;
    text-align: center;
    padding-top: 30px;
    font-family: serif;
}

