.login-form-wrapper {
  margin: 0 auto;
  }
  
  .login-form {
    margin: 0 auto;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
  }

  .login-form input{
    background: transparent;
    margin: 10px 0;
    border: 1px solid blue;
  }

  .login-heading{
    text-align: center;
  }
  
 .register-redirect{
   text-decoration: none;
   color: silver;
 }