.login-form-wrapper {
    height: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
  }

  .login-form input{
    background: transparent;
    margin: 10px 0;
    border: 1px solid blue;
  }
  
 .register-redirect{
   text-decoration: none;
   color: silver;
 }